<div id="footer" class=" bg-cacao text-center">
    <div class="row align-items-center footer" >
        <div class="col-12 container" >
            <div class="row content">
                exemple de footer
            </div>
        </div>
    </div>
</div>